header {
    height: 50px;
    background: rgb(28, 34, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(85, 212, 214);
    font-size: 17px;
  
}

 a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
 }

.logo {
    height: 80px;
    width: 90px;
}

.nav-container-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
}

.nav-container-left {
    margin-right: 50px;
}

